.sign_up {
  height: 34.375em;
  justify-content: center;

  > h1 {
    padding-bottom: 2em;
  }
}
@media (max-width: 768px) {

    .sign_container {
        justify-content: center;

        > .sign_icon{
            margin-top: 0;
        }
  }
  .sign_up {
    justify-content: space-evenly;
    height: auto;

    h1 {
      padding: 11px 0px 35px 0px;
    }
  }
}
