// // Animation for login input element
// .input_group {
//   position: relative;

//   // set input element style
//   .input_group_input {
//     font: inherit;
//     color: #ffffff;
//     outline: 2px solid #ffffff;
//     background-color: transparent;
//     transition: outline-color 500ms;
//   }

//   // set the outline color of the input element to chnage when the input is focused or valid (filled)
//   // note! code will only work if the input container is set to required, else the input element will the defaulty set to valid.
//   .input_group_input:is(:focus, :valid) {
//     outline-color: #160857;
//   }

//   // set label style
//   .input_group_label {
//     position: absolute;
//     top: 0;
//     left: 0;
//     translate: 10px 10px;
//     color: #ffffff;
//     transition: translate 500ms, scale 500ms;
//   }

//   // finally, add transition to complete effects.
//   .input_group_input:focus + .input_group_label,
//   .input_group_input:valid + .input_group_label {
//     padding-inline: 5px;
//     translate: 10px -14px;
//     scale: 0.8;
//     background-color: #286feb;
//   }
// }

.sign_in {
  height: 34.375em;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .sign_container {
    .sign_icon {
      margin-bottom: 0;
    }
  }

  .sign_in {
    justify-content: space-around;
    height: 30em;
  }
}

@media (max-width: 600px) {
  .sign_container {
    .sign_icon {
      margin-bottom: 0;
    }
  }

  .sign_in {
    h1 {
      padding: 20px 0px 45px 0px;
    }
    justify-content: center;
    height: auto;
    min-height: 30em;
  }
}
