@import "../variable.scss";

.inventory_dashboard {
  max-width: 100%;
  height: auto;
  overflow: hidden; /* Hide content that overflows */
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  // background-color: transparent;
  padding: 0.85em;

  > div:nth-child(1) {
    width: 100%;
    // height: 2.15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 8px;
    // border-bottom: 1px solid #6c757d;

    > .dashboard_search {
      position: relative;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
      }
      input {
        padding: 12px 24px 12px 48px;
        border: none;
        border-radius: 4px;
        width: 250px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    > button {
      padding: 8px 24px;
      background-color: $blue-text;
      border: none;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      transition: all 0.1s ease-in-out;
      color: #fff;
      svg {
        margin-right: 12px;
      }

      &:hover {
        cursor: pointer;
        // transform: scale(1.05);
      }
      &:active {
        transform: scale(0.97);
      }
    }
  }

  > .table_container {
    white-space: nowrap; /* Prevents text wrapping */
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    > table {
      width: 100%;
      height: auto;
      border-spacing: 0;
      border-radius: 8px;
      color: $black-text;
      font-family: $font-family;

      > thead {
        height: 4.05em;
        background-color: #efeeee;

        th {
          font-weight: 400;
          font-size: 15px;
        }
        th:first-child {
          border-top-left-radius: 8px;
          // border-bottom-left-radius: 8px;
        }

        th:last-child {
          border-top-right-radius: 8px;
          // border-bottom-right-radius: 8px;
        }
      }

      td {
        min-width: 130px;
      }
      tbody {
        tr {
          height: 4.35em;
          width: 100%;
          td {
            font-size: 15px;
            border-bottom: 1px solid #efeeee;
            align-items: center;

            button {
              // border: none;
              background-color: transparent;
            }
          }

          td:nth-child(1) {
            border-left: 1px solid #efeeee;
          }

          td:last-child {
            border-right: 1px solid #efeeee;
          }
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 8px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }
  }

  > .pagination_dashboard {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 0.6em;

    > button {
      background-color: transparent;
      border: none;
      color: $black-text;
      padding: 0.5em;
      &:hover {
        cursor: pointer;
      }
    }

    .active {
      color: rgba(0, 0, 0, 0.5);
    }

    .fa-chevron-right,
    .fa-chevron-left {
      background-color: $blue-text;
      color: #fff;
      padding: 0.5em;
      border-radius: 5px;
    }
  }

  > .chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .barchart {
      color: $black-text;
      width: 46%;
      height: auto;
      background-color: #fff;
      padding: 1em 1em 0px 0px ;
      border-radius: 10px;
    }
  }
}

.chart_container{
  background-color: #efeeee;
  padding: 0.85em 0px ;
}
